

.container-answer {
  margin: auto;
  text-align: center;
  width:400px;
  border-left: 40px;
  border-color: #FFFAEF;
}

.container-ask {
  text-align: center;
}

.container-question {
  margin: auto;
  width: 200px;
}
